<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu.css">
    <title>Document</title>

</head>
<body> 
   <div class="fondo_menu"> 
    <ul>
        <div class="item"> 
        <li>Inicio</li>
        </div>
        <li><img src="/src/img/iconoBalon.png" alt="">&nbsp     <a href=" ">Precidencia</a></li>
        <li><img src="/src/img/iconoBalon.png" alt="">&nbsp Viceprecidencia</li>
        <li><img src="/src/img/iconoBalon.png" alt="">&nbsp Secretaria</li>
        <li><img src="/src/img/iconoBalon.png" alt="">&nbsp Tesoria</li> 
        <li><img src="/src/img/iconoBalon.png" alt="">&nbsp Revisoria Fiscal</li>
        <li><img src="/src/img/iconoBalon.png" alt="">&nbsp Lista afiliados</li>
        <li><img src="/src/img/iconoBalon.png" alt="">&nbsp Lista de jugadores</li>
        <li><img src="/src/img/iconoBalon.png" alt="">&nbsp Lista de Coach`s</li>
        <li><img src="/src/img/iconoBalon.png" alt="">&nbsp Lista Material</li>
        <li><img src="/src/img/iconoBalon.png" alt="">&nbsp Lista Asistencia</li>
        <li><img src="/src/img/iconoBalon.png" alt="">&nbsp Cronograma</li>
        <li><img src="/src/img/iconoBalon.png" alt="">&nbsp Varios</li>
    </ul>
</div> 
    
</body>
</html>