.fondo_menu{
display:inline-block;
width: 15%;
height: 100%;
background-color: rgb(133, 133, 133);
padding: 1.5%;
margin-left:2%;
}

li{ 
    margin-left:-2;
    padding:5%;
    list-style-type: none;
    background-color: aliceblue;
    margin-bottom: 5%;
    border-radius: 10px;
    }

 a{text-decoration: none; 
  color: noe;
}